<html lang="en">
  {% include "base/head.html" %}
  <title> {% block title %}{% endblock title %} </title>
  <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <div class="app-wrapper">
      {% include "base/navbar.html" %}
      {% include "base/sidebar.html" %}
      <main class="app-main">
        <div class="app-content-header">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="mb-0">
                  {% block content_title %}{% endblock %}
                </h3>
              </div>
              <div class="col-sm-6">
                {% block content_breadcrumbs %}{% endblock %}
              </div>
            </div>
          </div>
        </div>
        <div class="app-content">
          {% block main_content %}{% endblock %}
        </div>
      </main>
      {% include "base/footer.html" %}
    </div>
    {% include "base/scripts.html" %}
  </body>
  <script>
    const SELECTOR_SIDEBAR_WRAPPER = ".sidebar-wrapper";
    const Default = {
      scrollbarTheme: "os-theme-light",
      scrollbarAutoHide: "leave",
      scrollbarClickScroll: true,
    };
    document.addEventListener("DOMContentLoaded", function () {
      const sidebarWrapper = document.querySelector(SELECTOR_SIDEBAR_WRAPPER);
      if (
        sidebarWrapper &&
        typeof OverlayScrollbarsGlobal?.OverlayScrollbars !== "undefined"
      ) {
        OverlayScrollbarsGlobal.OverlayScrollbars(sidebarWrapper, {
          scrollbars: {
            theme: Default.scrollbarTheme,
            autoHide: Default.scrollbarAutoHide,
            clickScroll: Default.scrollbarClickScroll,
          },
        });
      }
    });
  </script>
</html>
